.friend-list-card{
  margin: 20px;
  display: flex;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5%;
  width: 220px;
  flex-direction: column;
}

.delete-friend-button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-list-continer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add-friend-card{
margin: 20px;
padding: 20px;
width: 250px;
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid black;
border-radius: 5%;
}

.add-friend-card > input[type="submit"]{
  margin:10px;
}

label > span{
  color:red;
}

p{
  margin:10px
}

.noResultfound{
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  align-items: center;
}